.fg-color-transition {
	-webkit-transition:color 0.5s linear;
	-moz-transition:color 0.5s linear;
	-o-transition:color 0.5s linear;
	-ms-transition:color 0.5s linear;
	transition:color 0.5s linear;
}

.fg-color-transparent {
  color: transparent !important;
}

.bg-color-red-mod {
	background-color: #ff0000 !important;
}
.bg-color-orange-mod {
	background-color: #ffa500 !important;
}
.bg-color-green-mod {
	background-color: #008000 !important;
}

.bg-color-transition {
	-webkit-transition:background-color 0.5s linear;
	-moz-transition:background-color 0.5s linear;
	-o-transition:background-color 0.5s linear;
	-ms-transition:background-color 0.5s linear;
	transition:background-color 0.5s linear;	
}

div.noHover:hover {
  outline: 0px #3a3a3a solid;
  cursor: default;
}